* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo-container {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.logo {
    width: 80px;

}

.logoText {
    margin-left: -1.2rem;
    font-size: 28px;
}

.navItem {
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}

.navItem div {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.navItem div a {
    color: black;
}

.heroSection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.leftSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.textHeading {
    font-size: 35px;
    color: #343d68;
    font-weight: 500;

}

.role {
    color: #4e45d5;
    font-weight: 800;
}

.SubHeading {
    font-size: 45px;
    line-height: 45px;
}

.heroDescrption {
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}


.btn {
    width: 18%;
    background-color: #e84949;
    color: #fff;
    transition: width 2s ease 2s;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
}

.btn::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s;
    z-index: -1;
}


.btn:hover::before {
    transform: scaleX(1);
}

.rightSection {
    position: relative;

}

.userImage {
    padding: 1.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
}


.userImage img {
    z-index: -9;
}

@keyframes scaleImage {

    0% {
        filter: grayscale(0);
        transform: scale(1);

    }

    50% {
        transform: scale(1.1);
        filter: grayscale(1);
        box-shadow: 3px 3px 10px black;
    }

    100% {
        transform: scale(1);
        filter: grayscale(0);
    }

}

.heroSection img {
    width: 200px;
    height: 260px;
}


.projectSection {
    /* background-color: aliceblue; */
    margin: 4rem;
}

.proHeading {
    color: #4e45d5;
    font-size: 90px;
    text-align: center;
    padding-top: 30px;
}

.projectContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.projectCard {
    width: 90%;
    height: 550px;
    background-image: url(./imge/Screenshot_20221221_232548.png);
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;

}

.projectCard::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    z-index: 0;
    transform: scaleX(1);
}

.projectCard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}

.projectCard:hover::before {
    transform: scaleX(1);
}

.proNumber {
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: white;
    opacity: 0;
    z-index: 10;
}

.projectCard:hover .proNumber {
    opacity: 1;
}



.project-number-right {
    right: -40px;
    top: -45px;
}

.project-number-left {
    left: -40px;
    top: -45px;
}



.projectContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s;
}


.project-content-left {
    left: 10%;
}

.project-content-right {
    right: 10%;
}

.Skill-icons {
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}

.Skills {
    width: 48px;
}



.projectHeading {
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.project-subHeading {
    width: 70%;
    font-size: 16px;
    font-style: italic;
}


.btn-grp {
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

.btn-project:hover {
    border: none;
}

.icon {
    cursor: pointer;
    color: white;
    font-size: 35px;
    transition: all 0.4s;
}

.icon:hover {
    color: red;
}

.projectCard:hover .projectContent {
    transform: scale(1.1);
}

#project1 {
    background-image: url(./imge/Screenshot_20221221_232548.png);
}

#project2 {
    margin-left: 120px;
    background-image: url(./imge/project-2.png);
}

#project3 {
    background-image: url(./imge/project-3.png);
}

#project4 {
    margin-left: 120px;
    background-image: url(./imge/project-4.png);
}

@media (max-width:1300px) {
    .proHeader {
        padding-top: 30px;
        color: red;
        text-align: center;
        font-size: 40px;
    }

    .projectContainer {
        padding: 5px;
        margin: 10px;
        gap: 60px;
    }

    .projectCard {
        width: 100%;
        height: 300px;
    }

    .projectCard {
        background-size: cover;
        background-position: center;
    }

    .projectContent {
        scale: 0.5;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }

    .project-content-left {
        left: 0;
    }

    .projectHeading {
        font-size: 40px;
        width: 100%;
    }

    .project-subHeading {
        width: 100%;
    }

    #project2 {
        margin-left: 0;
    }

    #project4 {
        margin-left: 0;
    }

    .Skill-icons {
        width: 100%;
    }

    .Skills {
        width: 35px;
    }

    .projectCard:hover .proNumber {
        display: none;
    }

    .projectCard:hover .projectContent {
        scale: 0.55;
    }
}


.skills-container {
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;
}

.skill-container-left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.skill-container-right {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    gap: 2rem;
    justify-content: center;
}

.skill-fade-text {
    position: absolute;
    font-size: 15em;
    font-style: bold;
    color: rgb(231, 231, 231);
    bottom: -34.5%;
    right: -25%;
    /* user-select: none; */
    overflow-y: hidden;
}

.blob-style {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -5;
    transform: translate(-50%, -50%);
    animation: blobAnimate 3s linear infinite;
}

@keyframes blobAnimate {
    50% {
        top: 54%;
        left: 46%;
    }
}

.skills-logo {
    width: 90px;
    transition: all 0.5s;
}

.skills-logo:hover {
    transform: scale(1.2);
}

.skill-heading {
    font-size: 50px;
    font-style: bold;
    color: var(--bgOrange);
    line-height: 50px;
}

.caps {
    font-size: 90px;
}

.skill-subHeading {
    margin-top: 1rem;
    width: 85%;
    text-align: justify;
}

.skill-subHeading p {
    margin: 15px 0;
}